
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.corner {
    display: flex;
    justify-content: flex-end;
    
}


.username {
    margin-top: 15px;
    font-family: "Protest Revolution", sans-serif;
    font-size: 46px;
}

.pal {
    margin-right: 50vw;
    margin-top: 50px;
}

body {
    background-color: #F15223;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center; 
    
}

.lines {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}


.date {
    width: fit-content;
    margin-top: -50px;
    font-size: 26px;
    font-family: sans-serif;
}

.timer {
    margin: 10px;
    width: fit-content;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#minutesInput {
    width: 100px;
    height: 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: black 1px solid;
}

input[type="text"]::placeholder {
    text-align: center;
  }
  
  input[type="text"] {
    text-align: center;
  }

#startBtn {
    width: 50px;
    height: 40px;
    border: black 1px solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: sans-serif;
}

.Plans {
    border-radius: 10px;
    background-color: white;
    height: 500px;
    width: 90vw;

    
}

#energy {
    margin-top: 26px;
    margin-left: 20px;
    float: left;
}

.data {
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.Routine {
    display: flex;
    flex-direction: column;
}

#daily {
    font-size: 14px;
    font-weight: lighter;
    font-family: sans-serif;
}

#weight {
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
}

#workout {
    margin-top: 2px;
    font-weight: lighter;
}

#forward {
    float: left;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.exercise {
    margin-top: 30px;
    border: #DCCCC8 solid;
    background-color: #DCCCC8;
    margin-left: -60px;
    margin-right: 25px;
    margin-top: 20px;
    border-radius: 20px;
    height: 56px;
    display: flex;
    align-items: center;

    
}

#next {
    color: #7F7F7F;
    font-size: 13px;
    margin-bottom: 4px;
}

#lower {
    font-weight: bold;
}

.under {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}

.newPlan {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}



#New {
    margin-top: 2px;
    margin-right: 5px;
    text-decoration: underline;
    text-underline-offset: 7px;
    background: none;
    border: none;
    color: inherit;
    font-size: 16px;
}

.recentPlan {
    margin-top: 50px;
}

#Recent {
    font-family: sans-serif;
    font-size: 26px;
}

.dayy {
display: flex;
margin-top: 20px;
justify-content: space-around;
}

.time {
    display: flex;
    justify-content: space-around;
    font-weight: lighter;
    font-size: 16px;
    color: #7F7F7F;
}

#viewall {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 90px;
    
    
} 
#All{
    margin-right: 10px;
    width: 55px;
    font-size: 16px;
    border: none;
    background-color: white;
    
}

#All:active
{
    text-decoration: underline;
    text-underline-offset: 7px;
}

footer {
    background-color: white;
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}

#setting-icon {
    margin-top: 43px;
}

.new-plan-ui {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  height: 90vh;
  background-color: white;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: bottom 0.4s ease-in-out;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.new-plan-ui.visible {
  bottom: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  align-self: flex-end;
  cursor: pointer;
}

.new-plan-ui h2 {
  margin-bottom: 15px;
}

.new-plan-ui input,
.new-plan-ui textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #F15223;
  border-radius: 6px;
  font-size: 16px;
}

.add-workout-btn,
.submit-plan-btn {
  background-color: #F15223;
  color: white;
  border: none;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

#workoutContainer {
  margin-top: 15px;
}

.workout-block {
  border: 1px solid #F15223;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: #F15223;
}
