@import url("https://fonts.googleapis.com/css?family=Heebo:900");

body {
	background-color: #000;
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.timer {
	width: 200px;
	height: 100px;
	background-color: #9a0fe0;
	color: white;
	font-family: "Heebo", sans-serif;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 12px;
	box-shadow: 0 0 20px #9a0fe0;
	text-align: center;
	user-select: none;
}
